<!DOCTYPE html>

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>

<HTML>

<HEAD>

		<link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css" />
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
		<title>Song Me Maybe! Song Sent!</title>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35177592-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
</HEAD>

<BODY>

<center>
	<img src="images/sentMessage.png" alt = "Sick Song Bro" width="500" height ="100" />
	
	<p>
	<a href="javascript: location.href='mailto:?SUBJECT=New Song at Song Me Maybe'+'&BODY= Hi {{recipient}}, I sent you a song at {{URL}}. Song me maybe? - {{sender}} '"> <img src="images/emailButton.png" alt = "Sick Song Bro" width="160" height ="100" /></a>
	<a href=/start><img src="images/againButton.png" alt = "Sick Song Bro" width="160" height ="100" /></a>
	</p>
	<p>
	<b>Send this link: </b><a href="{{URL}}">{{URL}}</a>
	<br >
	<br >
	
</center>	

</BODY>

</HTML>